<h1>Item Tally</h1>
	
	<table>
	  <tr>
		<th>User</th>
	    <th>Date</th>
	    <th>Title</th>
	    <th>Amount</th>
		<th>Type</th>
	    <th>Note</th>
	  </tr>

	<% total = {} %>
	
	<% for item in items %>
	  <tr>
		<td><%=h item.user.login.titleize %></td>
		<td><%=h item.date %></td>
		<td><%=h item.title %></td>
	    <td><%=h number_to_currency(item.amount) %></td>
		<td><%=h item.type.to_s %></td>
	    <td><%=h item.note %></td>
		
		<% if current_user.id == item.user.id then %>
		    <td><%= link_to 'X', item, :confirm => 'Delete Item?', :method => :delete %></td>
		<% end %>
	  </tr>
	
	  <% total[item.user.login] = 0 if total[item.user.login].blank? %>
	  <% total[item.user.login] += item.amount * item.type.weight / 100 %>
	
	<% end %>
	</table>
	
	<% total.each do |k,v| %>
		<h3><%= k.titleize %>:<%= v %> <h3><br/>
	<% end %>
		
<br />