<h1>Item Tally</h1>

<% for user in users %>
	<h2><%= user.login.titleize %></h2>
	<% total = 0 %>
	
	<table>
	  <tr>
	    <th>Date</th>
	    <th>Title</th>
	    <th>Amount</th>
		<th>Type</th>
	    <th>Note</th>
	  </tr>

	<% for item in items.find_all { |i| i.user.login == user.login } %>
	  <tr>
		<td><%=h item.date %></td>    
		<td><%=h item.title %></td>
	    <td><%=h number_to_currency(item.amount) %></td>
		<td><%=h item.type.to_s %></td>
	    <td><%=h item.note %></td>
		
		<% if current_user.id == user.id then %>
		    <td><%= link_to 'X', item, :confirm => 'Delete Item?', :method => :delete %></td>
		<% end %>
	  </tr>
	
	  <% 
		if item.type then 
			total += item.amount * item.type.weight / 100 
		else
			total += item.amount
		end
	   %>
	
	<% end %>
	</table>
	<h2>Total: <%=total%></h2>
	
<% end %>