<div class="NewItems">
<h1>New Item</h1>

  <div class="feature">
    <% form_for(item) do |f| %>
      <%= f.error_messages %>
        <ul>
          <li>
            <%= f.label :title %>
            <%= f.text_field :title %>
          </li>
          <li>
            <%= f.label :amount %>
            <%= f.text_field :amount %>
          </li>
          <li>
            <%= f.label :type %>
            <%= f.select :type_id, Type.all.collect{|t| [t.name, t.id]} + \
        		User.all.collect{|t| ["Transfer:" + t.login.titleize, "0_" + t.id.to_s]} %>
          </li>
          <li>
            <%= f.date_select :date %>
          </li>
          <li>
            <%= f.submit "Create" %>
          </li>
        </ul>
        <ul>
          <li>
            <%= f.text_area :note %>
          </li>
          <li id="NoteText">
            <%= f.label :note %>
          </li>
        </ul>

        
    <% end %>
  </div>
</div>