<h1>Item Tally</h1>

<% for user in @users %>
	<h2><%= user.login %></h2>
	
	<table>
	  <tr>
	    <th>Title</th>
	    <th>Date</th>
	    <th>Amount</th>
	    <th>Note</th>
	  </tr>

	<% for item in @items.find_all { |i| i.user.login == user.login } %>
	  <tr>
		<td><%=h item.date %></td>    
		<td><%=h item.title %></td>
	    <td><%=h item.amount %></td>
	    <td><%=h item.note %></td>
	    <td><%= link_to 'Show', item %></td>
		
		<%# In this context, @user is the current user %>
		<% if @user == user then %>
		    <td><%= link_to 'Edit', edit_item_path(item) %></td>
		    <td><%= link_to 'Kill', item, :confirm => 'Are you sure?', :method => :delete %></td>
		<% end %>
	  </tr>
	<% end %>
	</table>
	
<% end %>


<br />

<%= link_to 'New item', new_item_path %>
