<div id="nav">
  <ul>
    <li>
    <%= link_to "Logout", {:controller => :logout } %>
    </li>
    <li>
    <%= link_to "Edit My Account", edit_account_path %>
    </li><li>
    <%= link_to "My Items", user_items_path(@user.login)%>
    </li>
  </ul>
</div>

<%= render :partial => "new", :locals => { :item => @item } %>
<%= render :partial => "list", :locals => { :items => @items, :users => @users, :now => @now } %>
