<<<<<<< HEAD:app/views/items/new.html.erb
=======
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <%= stylesheet_link_tag 'styles' %>
</head>
<body>
>>>>>>> 9027890d3a02119139509b5d7dfbad53dc6c745c:app/views/items/new.html.erb
<h1>New item</h1>

<% form_for(@item) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :date %><br />
    <%= f.date_select :date %>
  </p>
  <p>
    <%= f.label :amount %><br />
    <%= f.text_field :amount %>
  </p>
  <p>
    <%= f.label :note %><br />
    <%= f.text_area :note %>
  </p>
  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', items_path %>
<<<<<<< HEAD:app/views/items/new.html.erb
=======
</body>
</html>
>>>>>>> 9027890d3a02119139509b5d7dfbad53dc6c745c:app/views/items/new.html.erb
