<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <%= stylesheet_link_tag 'styles' %>
</head>
<body>
<p>
  <b>Title:</b>
  <%=h @item.title %>
</p>

<p>
  <b>Date:</b>
  <%=h @item.date %>
</p>

<p>
  <b>Amount:</b>
  <%=h @item.amount %>
</p>

<p>
  <b>Note:</b>
  <%=h @item.note %>
</p>

<p>
  <b>Created By:</b>
  <%=h @item.user.login %>
</p>


<%= link_to 'Edit', edit_item_path(@item) %> |
<%= link_to 'Back', items_path %>
</body>
</html>
